<div class="container-fluid bg m-0 p-0">
    <div class="container ">
        <div class="row m-5">
            <div class="col-3">
                <!-- <img [src]="guide?.picUrl ? guide?.picUrl : 'https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/grayman.png'" 
                            class="img-fluid rounded-circle z-depth-0" style="height:80px; width:80px;"> -->
                <img src="../../../assets/blank-profile-picture-973460__480.png" class="img-fluid rounded-circle " style="height:200px; width:200px;">
            </div>
            <div class="col-9">
                <h2>{{resAlumni.fname}} {{resAlumni.lname}}</h2>
                <h4>{{resAlumni.course}} {{resAlumni.branch}} {{resAlumni.gyear}}</h4>

                <h4>Works at Experian Tech</h4>
                <h4>Lives in {{resAlumni.city}}, {{resAlumni.state}}, {{resAlumni.country}}</h4>
            </div>

        </div>

        <div class="info-card m-5">
            <div class="p-3 white-text dgreen">
                Experience
            </div>
            <div class="p-4">gutuy</div>

        </div>

    </div>

</div>