/* input[type="file"]{
    visibility: hidden;
}

.img-preview{
    height: 8rem;
    margin: 1rem 0;
}

.img-preview img {
    height: 100%;
} */

.card-sh {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

.btncolor {
    color: #005D63;
}