/* @import '~mdbootstrap/css/bootstrap.css';
@import '~mdbootstrap/css/mdb.min.css'; */

@import '~bootstrap/dist/css/bootstrap.min.css';
* {
    /* font-family: Georgia, 'Times New Roman', Times, serif;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px; */
}


/* define font family for headings, blog texts and more special texts */

.dgreen {
    background-color: #005D63;
}

.dgreen-text {
    color: #005D63;
}

.lgreen {
    background-color: #DCFDFF;
}

.lgreen-text {
    color: #DCFDFF;
}

.yellow-text {
    color: rgb(255, 255, 110);
}

.l-btn {
    font-size: 1.1em !important;
}

.basicbtn {
    font-weight: bold !important;
    border-radius: 5px !important;
}

.br-5 {
    border-radius: 5px !important;
}

.my-link,
.my-link:hover,
.my-link:visited,
.my-link:active {
    color: inherit;
}

body {
    height: 100%;
    min-height: 85vh;
    overflow-x: hidden;
}