/* @import '~mdbootstrap/css/bootstrap.css';
@import '~mdbootstrap/css/mdb.min.css'; */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
* {
    /* font-family: 'Lora', serif;
     */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-size: 16px; */
}


/* define font family for headings, blog texts and more special texts */

.dgreen {
    background-color: #005D63;
}

.dgreen-text {
    color: #005D63 !important;
}

.lgreen {
    background-color: #DCFDFF;
}

.lgreen-text {
    color: #DCFDFF;
}

.yellow-text {
    color: rgb(255, 255, 110);
}

.l-btn {
    font-size: 1.1em !important;
}

.m-btn {
    font-size: 0.9em !important;
    text-transform: initial !important;
}

.basicbtn {
    font-weight: bold !important;
    /* border-radius: 5px !important; */
}

.br-5 {
    border-radius: 5px !important;
}

button {
    border-radius: 5px !important;
}

.my-link,
.my-link:hover,
.my-link:visited,
.my-link:active {
    color: inherit;
}

body {
    height: 100%;
    min-height: 85vh;
    overflow-x: hidden;
}