<mdb-card style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/gradient1.jpg')">
    <div class="text-white text-center py-5 px-4 my-5">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Hello {{fname}} {{lname}} [{{course}} {{branch}}]</strong></h2>
        <p class="mx-5 mb-5">yes it worked
          
        </p>
        <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon>View project
        </a>
      </div>
    </div>
  </mdb-card>
<br>
<div class="col-12">
  <div class="col-6"></div>
  <form class="col-6" [formGroup]="BlogForm">
  <div class="md-form col-6">
    <input id="input_text" class="form-control" formControlName="btitle" type="text" length="10" mdbCharCounter mdbInput>
    <label for="input_text">Title</label>
  </div>
  <div class="md-form col-6">
    <textarea formControlName="bblog" class="md-textarea form-control " rows="3" id="input_text" type="text" length="120" mdbCharCounter mdbInput></textarea>
    <label for="input_text">Type your thoughts</label>
  </div>
  <button type="button" mdbBtn color="primary" mdbWavesEffect>Post</button>

</form>
</div>


  <button type="button" mdbBtn color="primary" mdbWavesEffect (click)='logout()'>LogOut</button>