<mdb-card style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/gradient1.jpg')">
    <div class="text-white text-center py-5 px-4 my-5">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong><mdb-icon fab icon="500px"></mdb-icon>Hello {{fname}} {{lname}}</strong></h2>
        <p class="mx-5 mb-5">yes it worked {{course}} {{branch}}
          
        </p>
        <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon>View project
        </a>
      </div>
    </div>
  </mdb-card>
  <div class="row">
      <div class="col-8"></div>
  <form action="" class="col-4" [formGroup]="BlogForm">
    <div class="md-form">
    <input mdbInput type="text" id="form1" formControlName="tblog" class="form-control">
    <label for="form1" class="">title</label>
  </div>
  <div class="md-form">
    <textarea type="text" id="form7" formControlName="blog" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
    <label for="form7">Write Here</label>
  </div>
  <button type="submit" mdbBtn color="dark" (click)="post()" mdbWavesEffect>Post</button>
  </form>
  </div>

  
